language: node_js
node_js:
  - 0.10
  - 0.11
  - 0.12

before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - npm install -g testacular@canary
  - npm install -g grunt-cli

script: "npm test"
